extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for: #{searchingBy}
    .search__vedios
        if videos.length === 0 
            h5 No Search Video 
        else
            each item in videos
                +videoBlock({
                    title: item.title,
                    views: item.views,
                    videoFile: item.videoFile,
                    id: item.id
                })